<div class="container-fluid  mb-5">
    <div class="row vh-100">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
           <div >
            <p class="h2">We specialize in</p>
            <h1 class="text-danger mb-4">Web & Mobile UX/UI Design</h1>
            <button class="btn p-2 btn-danger text-black bg-transparent">CHECK OUT OUR WORK</button>
           </div>
        </div>
        <div class="col-md-6 position-relative bg-warning h-100">
            <div class="position-relative h-100 w-100 d-flex justify-content-center align-items-center pos">
                <img src="../../../../assets/images/gradimg/multi-platform.6a0d94bb8751b6205474.png" class="w-100 position-absolute" width="800px" alt="">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 bg-info">
            <div class="ms-5">
                <p class="h3">We have designed</p>
                <h2 class="text-white">250+ applications</h2>
                <p class="h3">for many industries</p>
            </div>
        </div>
        <div class="col-md-6 bg-danger">
            <div class="ms-5">
                <p class="h2 text-xxl-start">We have designed for clients in</p>
                <h1 class="text-white">20 countries</h1>
            </div>
        </div>
    </div>
</div>

<div class="ourwork mt-5 mb-5">
    <div class="container-fluid mb-4">
        <div class="content text-center mb-3">
            <h3 class="h1 text-xxl-center mb-3">A Snapshot of Our Work</h3>
            <p>We have designed intuitive apps for different businesses such as E-commerce, Finance & Insurance, Healthcare, Media <br>& Publishing, Education, Hospitality & Travel and Logistics & Transportation</p>
        </div>

        <div class="row gy-4">
            <div class="col-md-4">
                <div class="card">
                    <figure>
                        <img src="../../../../assets/images/gradimg/In-Sync-For-Life.829abb8effc2e941a09d (1).png" class="w-100 card-img-top" alt="Meditation and Relaxation App">
                    </figure>
                    <div class="card-body text-center">
                        <span class="card-text m-2">Healthcare</span>
                        <p class="card-title h3">Meditation & relaxation</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <figure>
                        <img src="../../../../assets/images/gradimg/IoTAgricultureApplication.e816618cf43ebc4a495c (1).jpg" class="w-100 card-img-top" alt="iOT agriculture application and Relaxation App">
                    </figure>
                    <div class="card-body text-center">
                        <span class="card-text m-2">Agriculture</span>
                        <p class="card-title h3">IOT Agriculture Application</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <figure>
                        <img src="../../../../assets/images/gradimg/iWorkforce.3074250c35b26bb6b0e9.jpg" class="w-100 card-img-top" alt="resource management">
                    </figure>
                    <div class="card-body text-center">
                        <span class="card-text m-2">Human Resource</span>
                        <p class="card-title h3">Resource Management</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <figure>
                        <img src="../../../../assets/images/gradimg/KRMart.05eb0dc0ae303773784f.jpg" class="w-100 card-img-top" alt="KR mart">
                    </figure>
                    <div class="card-body text-center">
                        <span class="card-text m-2">Ecommerce</span>
                        <p class="card-title h3">Ecommerce Mobile App</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <figure>
                        <img src="../../../../assets/images/gradimg/KPIDashboard.767ec221f8a7882bf43c.png" class="w-100 card-img-top" alt="Meditation and Relaxation App">
                    </figure>
                    <div class="card-body text-center">
                        <span class="card-text m-2">Human Resource</span>
                        <p class="card-title h3">KPI Dashboard</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <figure>
                        <img src="../../../../assets/images/gradimg/SaINT.3ecba1f18ea6dc98df31.jpg" class="w-100 card-img-top" alt="health safety solution">
                    </figure>
                    <div class="card-body text-center">
                        <span class="card-text m-2">Big Data</span>
                        <p class="card-title h3">Health & Safety Solution</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-3 ">
            <button class="btn py-2 px-5 btn-danger text-black bg-transparent mx-auto d-block h5">See more of our work</button>
        </div>
        
    </div>
</div>

<div class="contactUs mt-3 bg-contact ">
   
    <div class="container-fluid mt-5 ">
        <div class="text-center mt-5 p-4">
            <h2 class="h1 text-xxl-center mb-3 fw-bolder mt-5">Let us fly your ideas</h2>
            <p>Tell us about your needs. We'd love to hear from you.</p>
        </div>
        <div class="row gx-3 ">
            <div class="col-md-5 mx-5 p-3 contact-color height ">
                <div class="">
                   <form >
                        <input class="form-control mb-3" type="text" placeholder="Name *" aria-label="default input example" required>
                        <input class="form-control mb-3" type="tel" placeholder="Phone number *" aria-label="default input example" required>
                        <input class="form-control mb-3" type="email" placeholder="Email *" aria-label="default input example" required>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="10"></textarea>
                        <button class="btn py-2 px-5 btn-danger text-black bg-transparent mt-3 h5">SEND MESSAGE</button>
                   </form>
                </div>
            </div>
            <div class="col-md-6  p-3 contact-color height">
                <div class="row ">
                    <div class="col-xl-6 mt-3 fw-bolder">
                        <div class="text-warning fa-2xl mb-3">
                            Call Us
                        </div>
                        <div class="text-info ">
                            <strong class="mb-0">TMA Vietnam</strong>
                            <br>
                            <span>+84 839 978 000 &nbsp; - &nbsp; </span>
                            <strong>Ext.</strong>
                            5485 / 5688 / 5938
                        </div>
                        <div class="row text-info">
                            <div class="col-lg-6">
                                <strong>TMA Australia</strong>
                                <br>
                                <span>+61 414 734 277</span>
                            </div>
                            <div class="col-lg-6">
                                <strong>TMA North America</strong>
                                <br>
                                <span>+1 802 735 1392</span>
                            </div>
                            
                        </div>
                        <div class="row text-info">
                            <div class="col-lg-6">
                                <strong>Mobile</strong>
                                <br>
                                <span>+84 979 696 263</span>
                            </div>
                            <div class="col-lg-6">
                                <strong>TMA Japan</strong>
                                <br>
                                <span>+81 364 324 994</span>
                            </div>
                        </div>

                        
                        
                    </div>
                    <div class="col-xl-6">
                        <div class="text-danger mb-5">
                            <div class="contact-title">Email Us </div>
                            <a >contact&#64;t-design.center</a>
                        </div>
                        <div class="contact-title text-success">Meet Us</div>
                        <div class="address mb-4">TMA Tower, Quang Trung Software City, District 12, HCMC, Vietnam</div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="map-wrapper"><iframe title="Map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6589.9719284039!2d106.62905155036665!3d10.855568046226367!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175298af1491bff%3A0xcf2251bacb86b0f2!2sTMA+Solutions+Lab+6!5e0!3m2!1svi!2s!4v1527656144396" width="100%" height="292" frameborder="0" allowfullscreen="" style="border: 0px;"></iframe></div>
                        </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        
    </div>
</div>