
<main class=" p-4 pb-0 about">
<section class="page-title-wrap text-center ">
    <span>We are</span>
    <h4 class="page-title text-danger h1 mt-2 mt-lg-0 ">A CREATIVE DESIGN TEAM</h4>
    <div class="page-des">Our mission is to apply creative thinking and design expertise to fly your ideas and make your application different.</div>
</section>
<section class="intro-wrapper container-fluid">
    <div class="row g-5 justify-content-center">
        <div class="col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0">
            <div class="intro-block intro-block-1">
                <div class="intro-content text-center">
                    <img src="../../../../assets/images/gradimg/quality-driven.3ae09f0e5601b4303f2c42f9409aac6d.svg" class="mb-2" height="88px" alt="">
                    <h6 class="intro-title fw-bolder">Quality-driven agency</h6>
                    <img src="../../../../assets/images/gradimg/download (8).png" alt="">
                    <p class="lw-description-text mt-3 mb-0">Our designs are built based on a deep understanding of the client &amp; user needs and apply the latest design trends and industry best practices.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0">
            <div class="intro-block intro-block-2">
                <div class="intro-content text-center">
                    <img src="../../../../assets/images/gradimg/clients.089b019f8638b54592ead4b5426d5492.svg"  height="88PX" alt="">
                    <h6 class="intro-title fw-bolder">Clients around the world</h6>
                    <img src="../../../../assets/images/gradimg/download (8).png" alt="">
                    <p class="lw-description-text mt-3 mb-0">We have designed for clients in 20 countries. We understand your business and culture.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-md-4 mb-lg-0">
            <div class="intro-block intro-block-3">
                <div class="intro-content text-center">
                    <img src="../../../../assets/images/gradimg/members.1b80f673195fc5d239b4e67d9b8ed867.svg"  height="88PX" alt="">
                    <h6 class="intro-title fw-bolder">Member of TMA Solutions </h6>
                    <img src="../../../../assets/images/gradimg/download (8).png" alt="">
                    <p class="lw-description-text mt-3 mb-0">We are proud to be a member of TMA Solutions – a leading software outsourcing provider with 2,200 engineers and more than 21 years of experience in providing quality software services for clients in 27 countries.</p>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="members mt- 5">
    <div class="page-title-wrap text-center shadow">
        <span><b>Team Members</b></span>
        <div class="page-des mb-5">Our team's background is not only in visual design and art but also technology and marketing.</div>
        <div class="container-fluid mt-3">
            <div class="row g-4">
                <div class="col-lg-2  col-md-3">
                    <div class="card">
                        <img src="../../../../assets/images/gradimg/1.jpg" class="card-img w-100" alt=" team member">
                        <div class="card-body text-center">
                            <h2>Hong Tran</h2>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2  col-md-3">
                    <div class="card">
                        <img src="../../../../assets/images/gradimg/2.jpg" class="card-img w-100" alt=" team member">
                        <div class="card-body text-center">
                            <h2>Hong Tran</h2>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2  col-md-3">
                    <div class="card">
                        <img src="../../../../assets/images/gradimg/3.jpg" class="card-img w-100" alt=" team member">
                        <div class="card-body text-center">
                            <h2>Hong Tran</h2>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2  col-md-3">
                    <div class="card">
                        <img src="../../../../assets/images/gradimg/4.jpg" class="card-img w-100" alt=" team member">
                        <div class="card-body text-center">
                            <h2>Hong Tran</h2>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2  col-md-3">
                    <div class="card">
                        <img src="../../../../assets/images/gradimg/5.jpg" class="card-img w-100" alt=" team member">
                        <div class="card-body text-center">
                            <h2>Hong Tran</h2>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2  col-md-3">
                    <div class="card">
                        <img src="../../../../assets/images/gradimg/6.jpg" class="card-img w-100" alt=" team member">
                        <div class="card-body text-center">
                            <h2>Hong Tran</h2>
                            <p>Director</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</section>
</main>