
.page-title-wrap {
    color: #262626;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}
.page-title-wrap {
    padding-bottom: 27px;
}
.about{
    background-color: #F6F6F6;
}
.page-title-wrap>span:before{
    background: url(../../../../assets/images/decor-1.b29929882f8562fd8ed3.svg) no-repeat;
    left: -57px;
    top: -30px;

}
.page-title-wrap>span {
    font-size: 36px;
    font-weight: 700;

    position: relative;
}
.page-des {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.67;
    margin: 5px auto 10px;
    max-width: 1065px;
}
.intro-wrapper {
    margin: 4.75% auto 4.21%;
    max-width: 1655px;
}
.page-title-wrap>span:after, .page-title-wrap>span:before {
    content: "";
    height: 50px;
    position: absolute;
    width: 63px;
}
.page-title-wrap>span:after {
    background: url(../../../../assets/images/decor-1.b29929882f8562fd8ed3.svg) no-repeat;
    right: -80px;
    top: -25px;
}
.intro-block {
    min-height: 385px;
    background-repeat: no-repeat;
    min-height: 370px;
    position: relative;
    -webkit-transition-property: background-image .3s ease-in .2s;
    -moz-transition-property: background-image .3s ease-in .2s;
    -o-transition-property: background-image .3s ease-in .2s;
    transition: background-image .3s ease-in .2s;
}
.intro-block-1 {
    background-image: url(../../../../assets/images/gradimg/data_image_png;base….png);
}
.intro-content {
    bottom: 20px;
    left: -8.73%;
    max-width: 480px;
    min-height: 400px;
    right: 121px;
    top: -39px;
    background-color: #fff;
    bottom: 11.16%;
    box-shadow: 0 4px 25px 0 hsla(0, 0%, 44%, 0.3);
    left: -2.8%;
    max-width: 410px;
    padding: 50px 35px;
    position: absolute;
    right: 11.8%;

}
.intro-block-2 {
    background-image: url(../../../../assets/images/gradimg/download\ \(9\).png);
}
.intro-block-3{
    background-image: url(../../../../assets/images/gradimg/download\ \(11\).png);
}
.members{
    background-color: #FFFFFF;
}