<nav class="navbar navbar-expand-lg bg-body-tertiary p-3">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/images/freshcart-logo.svg" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex  justify-content-between" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          @if (islogin == true) {
            <a class="nav-link px-2" routerLink="home" routerLinkActive="bg-main text-white radious">Home</a>
            <a class="nav-link px-2" routerLink="products" routerLinkActive="bg-main text-white radious">products</a>
            <a class="nav-link px-2" routerLink="categories" routerLinkActive="bg-main text-white radious">categories</a>
            <a class="nav-link px-2" routerLink="brands" routerLinkActive="bg-main text-white radious">Brands</a>
            <a class="nav-link px-2" routerLink="plant-charts" routerLinkActive="bg-main text-white radious">Dashboard</a>
          }
          </div>
        <div class="d-flex gap-3 me-4 align-items-center">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-tiktok"></i>
            @if (islogin == false) {
              <a class="nav-link " routerLink="login" routerLinkActive="bg-main text-white radious p-2">Login</a>
              <a class="nav-link " routerLink="register" routerLinkActive="bg-main text-white radious p-2">Register</a>
            }
            @else {
              <a (click)="_AuthService.logout()" class="nav-link cursor-pointer effect " routerLinkActive="bg-main text-white radious p-2" >Logout</a>
            }
        </div>
      </div>
    </div>
  </nav>