<section class="mt-5 mb-5">
  @if(step == 1){ 
    <form [formGroup]="emailForgetPass" (ngSubmit)="sendEmail()" class="w-75 mx-auto bg-light shadow p-4 rounded">
      <div class="my-3 ">
        <label for="email">Email:</label>
        <div class="input-group">
          <span class="input-group-text bg-main text-white  border-2">
            <i class="fa-solid fa-envelope "></i>
          </span>
          <input type="email" id="email" formControlName="email"
            [class.is-invalid]="emailForgetPass.get('email')?.invalid && emailForgetPass.get('email')?.touched"
            class="form-control rounded-3 border-2 border-light shadow-sm">
        </div>
      </div>
      <button [disabled]="emailForgetPass.invalid" class="btn btn-primary bg-main my-2 w-100 rounded-3">
        Submit
        @if(isLogin){ 
          <i class="fa-solid fa-spin fa-spinner"></i> 
        }
      </button>
    </form>
  } 
  @else if(step == 2){ 
    <form [formGroup]="codeForgetPass" (ngSubmit)="sendCode()" class="w-75 mx-auto bg-light shadow p-4 rounded">
      <div class="my-3">
        <label for="code">Code:</label>
        <div class="input-group">
          <span class="input-group-text bg-main text-white  border-2">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <input type="text" id="code" formControlName="resetCode"
            [class.is-invalid]="codeForgetPass.get('resetCode')?.invalid && codeForgetPass.get('resetCode')?.touched"
            class="form-control rounded-3 border-2 border-light shadow-lg">
        </div>
      </div>
      <button [disabled]="emailForgetPass.invalid" class="btn btn-primary bg-main my-2 w-100 rounded-3">
        Submit
        @if(isLogin){
          <i class="fa-solid fa-spin fa-spinner"></i>
        }
      </button>
    </form>
  } 
  @else if(step == 3){ 
    <form [formGroup]="resetForgetPass" (ngSubmit)="resetData()" class="w-75 mx-auto bg-light shadow p-4 rounded">
      <div class="my-3">
        <label for="email">Email:</label>
        <div class="input-group">
          <span class="input-group-text bg-main text-white  border-2">
            <i class="fa-solid fa-envelope"></i>
          </span>
          <input type="email" id="email" formControlName="email"
            [class.is-invalid]="resetForgetPass.get('email')?.invalid && resetForgetPass.get('email')?.touched"
            class="form-control rounded-3 border-2 border-light shadow-lg">
        </div>
      </div>
      <div class="my-3">
        <label for="password">New Password:</label>
        <div class="input-group">
          <span class="input-group-text bg-main text-white  border-2">
            <i class="fa-solid fa-lock"></i>
          </span>
          <input type="password" id="password" formControlName="newPassword"
            [class.is-invalid]="resetForgetPass.get('newPassword')?.invalid && resetForgetPass.get('newPassword')?.touched"
            class="form-control rounded-3 border-2 border-light shadow-sm">
        </div>
      </div>
      <button [disabled]="emailForgetPass.invalid" class="btn btn-primary bg-main my-2 w-100 rounded-3">
        Submit
        @if(isLogin){
          <i class="fa-solid fa-spin fa-spinner"></i>
        }
      </button>
    </form>
  }
  </section>